---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import FeaturedPosts from '../components/FeaturedPosts.astro';
import LatestPosts from '../components/LatestPosts.astro';
---

<Layout title="Home">
  <main>
    <Hero />
    <FeaturedPosts />
    <LatestPosts />
  </main>
</Layout>
